REGEX ASSIGNMENT

In [3]:
import pandas as pd
import re

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [4]:
string ="Python Exercises, PHP exercises."
re.sub(r"[ ,.]",":",string)

'Python:Exercises::PHP:exercises:'

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [8]:
data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
def remove_non_words(text):
    return re.sub(r'[^\w\s]', '', text)
df['SUMMARY'] = df['SUMMARY'].apply(remove_non_words)

print(df)

            SUMMARY
0       hello world
1        XXXXX test
2  123four five six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [21]:
pattern = re.compile(r"\w{4,}+")
string = "India is the country with people from diffrent religions"
pattern.findall(string)

['India', 'country', 'with', 'people', 'from', 'diffrent', 'religions']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [26]:
pattern = re.compile(r"\w{3,5}+")
string = "India is the country with people from diffrent religions"
pattern.findall(string)

['India',
 'the',
 'count',
 'with',
 'peopl',
 'from',
 'diffr',
 'ent',
 'relig',
 'ions']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [53]:
pattern = re.compile(r"\s*\((.\w*?)\)")
string1 = "example (.com)"
string2 = "hr@fliprobo (.com)"
string3 = "github (.com)"
string4 = "Hello (Data Science World)"
string5 = "Data (Scientist)"
a= pattern.sub("", string1)
print(a)

example

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text

In [1]:
import re

Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [54]:
string = "ImportanceOfRegularExpressionsInPython"
max = re.findall(r"[A-Z][a-z]+",string)
print(max)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [64]:
string = "RegularExpression1IsAn2ImportantTopic3InPython"
space = re.sub(r"(\d)([A-Za-z])",r" \1\2", string)
print(space)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [65]:
string = "RegularExpression1IsAn2ImportantTopic3InPython"
space = re.sub(r"(\d)([A-Za-z])",r" \1 \2" , string)
print(space)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [78]:
import pandas as pd
link = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
data = pd.read_csv(link)
data
data["first_five_letters"]= data["Country"].str[:6]
data

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [84]:
string = "Smartoy_is23"
special = re.match(r"^[a-zA-Z0-9_]+$",string)
print(special)

<re.Match object; span=(0, 12), match='Smartoy_is23'>

Question 12- Write a Python program where a string will start with a specific number.

In [88]:
string ="1956was the year"
digit = re.findall(r"\d[a-zA-Z]+$", string)
print(digit)

[]

Question 13- Write a Python program to remove leading zeros from an IP address

In [101]:
string ="000192.168.1.5"
re.sub(r"0+","",string)

'192.168.1.5'

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [103]:
string = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country"
re.findall(r"\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:st|nd|rd|th)?\s+\d{4}\b", string)

['August 15th 1947']

Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [107]:
string = "The quick brown fox jumps over the lazy dog."
re.search("fox",string)

In [3]:
string = "The quick brown fox jumps over the lazy dog."
re.findall("fox",string)

['fox']

In [2]:
import re
import pandas as pd

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [5]:
string = "The quick brown fox jumps over the lazy dog."
match = re.finditer(r"fox", string)
print(match)

<callable_iterator object at 0x0000024363E6DC90>

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'

In [8]:
string = "Python exercises, PHP exercises, C# exercise"
pattern = "exercises"
matches = re.finditer(pattern,string)
for match in matches:
    print(match)

<re.Match object; span=(7, 16), match='exercises'>
<re.Match object; span=(22, 31), match='exercises'>

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [7]:
string = 'east is the only direction to the east of bandra east'
pattern = r"east"

matches = re.finditer(pattern, string)
for match in matches:
    print(match)

<re.Match object; span=(0, 4), match='east'>
<re.Match object; span=(34, 38), match='east'>
<re.Match object; span=(49, 53), match='east'>

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [14]:
string = "1999-10-08"
match = re.sub(r"(\d{4})-(\d{2})-(\d{2})",r"\3-\2-\1", string)
print(match)

08-10-1999

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [16]:
string = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern = re.compile(r"\b\d+\.\d{1,2}\b")
match = pattern.findall(string)
print(match)

['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [17]:
string = "23 people were waiting 2 meters away for 20 days with 10 cars."
pattern = r"\d+"
matches = re.finditer(pattern, string)
for match in matches:
    print(match)

<re.Match object; span=(0, 2), match='23'>
<re.Match object; span=(23, 24), match='2'>
<re.Match object; span=(41, 43), match='20'>
<re.Match object; span=(54, 56), match='10'>

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [22]:
string = "My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
match = re.findall(r"\d+",string)
print(match)
max(match)

['947', '896', '926', '524', '734', '950', '642']

'950'

Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [27]:
string = "RegularExpressionIsAnImportantTopicInPython"
pattern = r"(?<=[a-z])([A-Z])"
re.sub(pattern, r" \1", string)

'Regular Expression Is An Important Topic In Python'

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [30]:
string = "The stars are Followed by The Sun and Our milky way"
re.findall(r"[A-Z][a-z]+", string)

['The', 'Followed', 'The', 'Sun', 'Our']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [31]:
string = "Hello hello world world"
re.sub(r'\b(\w+)(?:\s+\1\b)+',r"\1",string)

'Hello hello world'

In [ ]:
Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [20]:
import re
string = "the stars are shining with light of magnitude of EMV230@"
re.search(r"\w+[a-zA-Z0-9]@$", string)

Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [23]:
string = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
re.findall(r"#[A-Za-z0-9]+",string)

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [28]:
string = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
re.sub (r"<U\+[A-Za-z0-9]{4}>","", string)

'@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders'

Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [29]:

string = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
re.findall(r"\b\d{2}-\d{2}-\d{4}\b", string)

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [32]:
string = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern = re.compile(r"\b\w{2,4}\b")
pattern.sub("",string)

' following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.'